.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  background-color: red;
  border-radius: 100px;
  cursor: pointer;
}

.switch input {
  display: none;
}

.slider {
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  transition: all 0.3s linear;
}

.slider:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: cover;
  border-radius: 50%;
  background-color: #fff;
  top: 15px;
  left: 5px;
  bottom: 0;
  margin: auto;
  transition: all 0.3s linear;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  left: 22px;
}
