---
import Layout from "../layouts/Layout.astro";
import HeadBanner from "../components/ui/HeadBanner.astro";
import { CATEGORY } from "../types/category";

const dd = 1;

1 + 1; 
---
<Layout>
  <section class={"pb-[96px] text-white"}>
    {/*POPULAR TV BANNER*/}
    <HeadBanner type={CATEGORY.TV_SHOW} />

  </section>
</Layout>



