---
import { CATEGORY } from "~/types/category";
---

<header>
  {CATEGORY.TV_SHOW}
  <div>
    111
    <div>
      1
      <div>
        2
        <div>
          34
          <div>
            111
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
